.error{
	text-align: center;
	position: absolute;
	bottom: 10px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 10px;
}
img{
	height: 60%;
}
h1{
	color: #017558;
	font-size: 4em;
}
.page{
	color:#017558;
	margin-top: -50px;
	font-size: 1em;
}
.page span{
	padding-left: 115px;
	border-bottom: 2px solid #017558;
	padding-bottom: 2px;
}
p{
	margin: 10px 0;
	font-size: 14px;
}
p.work{
	font-size: 1.2em;
	margin-bottom: 50px;
}
.project{
	font-size: 14px;
	color: #8D8D8D;
}
