#roleListBlock{
	display: flex;
	flex-wrap: wrap;
}

.list_of_items{
	float: left;
	margin-bottom: 21px;
	height: auto;
	background: #fff;
	display: flex;
	flex-direction: column;
}

.list_of_items.drag_allow{
	cursor: move;
}

.list_of_items_top {
	float: left;
	padding: 0 7px;
	width: 100%;
	height: 36px;
	border-bottom: 1px solid #dddddd;
	background: #ecf0f1;
}

.list_of_items_top_left {
	float: right;
	padding: 7px 0;
	width: 50%;
}

.list_of_items_top_left .bootstrap-switch{
	float: right;
}

.list_of_items_top_right {
	float: left;
	padding: 4px 0;
	width: 50%;
	text-align: center;
}

.list_of_items_top_right .on {
	display: block;
}

.list_of_items_top_right .off {
	display: none;
}

.list_of_items_no {
	float: left;
	width: 28px;
	height: 28px;
	border: 1px solid #24b195;
	border-radius: 15px;
	background: #fff;
	color: #24b195;
	text-align: center;
	font-weight: 900;
	font-size: 17px;
	line-height: 28px;
}

.list_of_items_bottom {
	float: left;
	padding-top: 28px;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
	flex: 1;
    display: flex;
    flex-direction: column;
}

.list_of_items_bottom_top {
	float: left;
	width: 100%;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	line-height: 1.6;
	flex: 1;
	word-break: break-all;
}

.list_of_items_bottom_bottom {
	float: left;
	margin-top: 10px;
	width: 100%;
	text-align: left;
	font-size: 14px;
	line-height: 1.6;
	margin-bottom: 4px;
}

.list_of_items_bottom_bottom_left {
	float: left;
	padding-right: 5px;
	width: 74px;
	border-bottom: 1px solid #d7d5d5;
	text-align: right;
	line-height: 12px;
}

.list_of_items_bottom_bottom_right {
	float: left;
	padding-left: 8px;
	text-align: left;
	line-height: 12px;
}

.list_of_items {
	width: 180px;
}

.icon-renwu{
	float: right;
	margin-right: 15px;
	color: #1abc9c;
}

.disabled.iconfont{
	color: #ccc !important;
}

.list_of_items {
	width: 22%;
	margin-left: 1.5%;
	margin-right: 1.5%;
}